/* Common Css */
*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}

ul{
    list-style-type: none;
}
li{
    display: inline-block;
}
a{
    text-decoration: none;
}

.container{
    width: 1170px;
    margin: auto;
}

.row{
    display: flex;
}

/* Common Css */

/*Nav Section start*/
#navbar {
    background-color: #02918c;
}

#navbar .row{
    justify-content: space-between;
    align-items: center;
}

#navbar ul li a{
    font-size: 12px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 800;
    text-align: right;
    display: inline-block;
    padding: 25px 25px ;
    transition: 0.5s;
}
#navbar ul li a:hover{
    background-color: chartreuse;
    color: black;
}
/*Nav Section end*/

/*Banner Seciton Start*/
#banner{
    height: 728px;
    background-image: url(../img/bannerPic.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
}

#banner::after{
    content: '';
    position: absolute;
    background-color: #00000099    ;
    inset: 0;
    z-index: -1;
}

#banner .container{
    height: 100%;
}

#banner .row{
    height: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #ffffff;
}
#banner h4{
    font-size: 30px;
    font-weight: 400;
    line-height: 90px;
}

#banner h1{
    font-size: 70px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 30px;
    line-height: 90px;
}

#banner p{
    font-size: 25px;
    line-height: 80px;
}

#banner img{
    display: block;
    margin: 51px auto;
}

#banner a{
    font-size: 14px;
    text-transform: uppercase;
    width: 196px;
    height: 47px;
    background-color: #cfc91d;
    font-weight: 800;
    padding: 19px 45px;
    color: black;
}
/*Banner Seciton End*/

#about_me {
    height: 728px;
    width: auto;
}

.about_me_h1 {
    width: 100%;
    background-color: #cfc91d;
    display: inline-block;
}

#about_me h1 {
    font-size: 46px;
    font-weight: 800;
    color:#02918c ;
    text-align: center;
    margin-top: 98px;
}

#about_me img{
    width: 164px;
    height: 9px;
    margin: 30px auto;
    display: block;
}